<template name="appContainerTemplate">
    {{> navbarHeader }}

    <div id="appLayoutPanel" class="fullheight padded">
        {{#isolate}}
            {{renderPage}}
        {{/isolate}}
    </div>
    {{> thumbMenu }}
    {{> navbarFooter }}
    <div class="hidden resize-trigger">resized: {{resized}}</div>
</template>

<template name="navbarHeader">

    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
        <!--<div class="container">-->
            <a class="navbar-brand" style="max-width: 500px;" href="/">Hubble - A Source for Meteor.js Datasets</a>
            <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">A</button>-->
            <!--<div class="nav-collapse collapse bs-navbar-collapse">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>

<template name="navbarFooter">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="centered container">
            {{#if isVisible }}
                <ul class="nav navbar-nav">
                    <li class="view-button"><a href="">Vew</a></li>
                    <li class="new-button"><a href="">New</a></li>
                    <li class="edit-button"><a href="">Edit</a></li>
                    <li class="delete-button"><a href="">Delete</a></li>
                </ul>
            {{/if}}
        </div>
    </div>
</template>
<template name="thumbMenu">
    {{#if isVisible}}
    <ul id="thumb-menu" class="horizontal right hidden-sm">
        <li class="{{isDictionaryPage}} dictionary-button active"><img src="images/dictionary.jpg" class="thumb-image img-circle"></img></li>
        <li class="{{isWordlistPage}} wordlist-button"><img src="images/wordlist.jpg" class="thumb-image img-circle"></img></li>
        <li class="{{isCustomersPage}} customers-button"><img src="images/customers.jpg" class="thumb-image img-circle"></img></li>
        <li class="{{isDowJonesPage}} dowjones-button"><img src="images/dowjones.jpg" class="thumb-image img-circle"></img></li>
    </ul>
    {{/if}}
</template>

