<template name="homePage">
    <div id="homePage" class="page">
        <div class="fullheight fullwidth">


            <ul class="fullwidth horizontal centered zoetrope">


                <li class="section">
                    <!--<img src="images/customers.jpg" class="dataset-menu img-circle"></img>-->
                    <div class="clickable panel about-panel panel-warning">
                        <div class="panel-heading">
                            About
                        </div>
                        <p class="justified">We love Meteor!  And we want you to love it too.  So, to help get you up and running sooner, we've put together some datasets that you can drop into your application to get your started. </p>
                        <hr>

                        <!--<p class="justified">The current batch of datasets includes the Fry Wordlist, the Websters Unabridged English Dictionary, a sample of the Dow Jones Idustrial Index, and a collection of demographics that could represent users, customers, or clients.</p>-->

                        <p class="justified">The next batch of datasets will include Gray's Anatomy images, the International Classification of Diseases (ICD-10) codes, the USDA nutrition index, and a gardening dataset.</p>
                        <hr>
                        <p class="justified">If people like this work, and want to support it financially, please contact me via my GitHub profile.  I'd love to continue actively publishing these datasets for the community, but will have to be slowing down for a bit, and concentrating on other (paying) projects.  Next major update should be sometime in the autumn.</p>
                        <p class="justified">Abigail</p>
                    </div>
                </li>


                <li class="section">
                    <a href="/customers"><img src="images/customers.jpg" class="dataset-menu img-circle"></img></a>
                    <div class="panel">
                        <div class="panel-heading">
                            Customer Demographics
                        </div>
                        <p class="justified">Meteorite package that adds 500 records to a CustomerAccounts collection.  Useful for bootstrapping client or customer functionality, or doing anything that involves demographics or epidemiology.</p>


                        <a class="plain" href="/customers">
                            <div class="panel-success records-customers code panel">
                                <div class="panel-heading">500  Records</div>
                                <div class="teletype">
                                    {<br>
                                    <span class="field">FirstName</span>: <span class="text">"Essie"</span>,<br>
                                    <span class="field">LastName</span>:<span class="text">"Vaill"</span>,<br>
                                    <span class="field">Company</span>:<span class="text">"Litronic Industries"</span>,<br>
                                    <span class="field">Address</span>:<span class="text">"14225 Hancock Dr"</span>,<br>
                                    <span class="field">City</span>:<span class="text">"Anchorage"</span>,<br>
                                    <span class="field">County</span>:<span class="text">"Anchorage"</span>,<br>
                                    <span class="field">State</span>:<span class="text">"AK"</span>,<br>
                                    <span class="field">ZIP</span>:99515,<br>
                                    <span class="field">Phone</span>:<span class="text">"907-345-0962"</span>,<br>
                                    <span class="field">Fax</span>:<span class="text">"907-345-1215"</span>,<br>
                                    <span class="field">Email</span>:<span class="text">"essie@vaill.com"</span>,<br>
                                    <span class="field">Web</span>:<span class="text">"http://www.essievaill.com"</span><br>
                                    }
                                </div>
                            </div>
                        </a>

                        <div class="panel-info clickable atmosphere-customers code panel">
                            <div class="panel-heading">Atmosphere Installation</div>
                            <div class="centered teletype">mrt install dataset-customers</div>
                        </div>
                    </div>
                </li>


                <li class="section">
                    <a href="/dowjones"><img src="images/dowjones.jpg" class="dataset-menu img-circle"></img></a>
                    <div class="panel">
                        <div class="panel-heading">
                            Dow Jones Industrial Index
                        </div>
                        <p class="justified">Meteorite package that provides 20 years worth of Dow Jones Index summaries.  Useful for bootstrapping time-series analysis, min/max analysis, and statistics functionality.</p>


                        <a class="plain" href="/dowjones">
                            <div class="panel-success records-dowjones code panel">
                                <div class="panel-heading">5200+ Records</div>
                                <div class="teletype">
                                    {<br>
                                    <span class="field">Date</span>: <span class="text">"2010-10-01"</span>,<br>
                                    <span class="field">Open</span>:<span class="text">"10789.72"</span>,<br>
                                    <span class="field">High</span>:<span class="text">"10907.41"</span>,<br>
                                    <span class="field">Low</span>:<span class="text">"10759.14"</span>,<br>
                                    <span class="field">Close</span>:<span class="text">"10829.68"</span>,<br>
                                    <span class="field">Volume</span>:<span class="text">"4298910000"</span>,<br>
                                    <span class="field">Adj Close</span>:<span class="text">"10829.68"</span><br>
                                    }
                                </div>
                            </div>
                        </a>

                        <div class="panel-info clickable atmosphere-dowjones code panel">
                            <div class="panel-heading">Atmosphere Installation</div>
                            <div class="centered teletype">mrt install dataset-dowjones</div>
                        </div>
                    </div>
                </li>



                <li class="section">
                    <a href="dictionary"><img src="images/dictionary.jpg" class="dataset-menu img-circle"></img></a>

                    <div class="panel">
                        <div class="panel-heading">
                            Websters English Dictionary
                        </div>
                        <p class="justified">Meteorite package that provides the Webster Unabridged English Dictionary, circa 1920.  Useful for testing Meteor behavior with larger datasets.</p>

                        <a class="plain" href="/dictionary">
                            <div class="panel-success records-dictionary code panel">
                                <div class="panel-heading">85,537 Records</div>
                                <div class="teletype">
                                    {<br>
                                    <span class="field">Word</span>: <span class="text">DIPLOBLASTIC</span>,<br>
                                    <span class="field">Definition</span>: <span class="text">Characterizing the ovum when it has two primary germinallayers.</span><br>
                                    }
                                </div>
                            </div>
                        </a>

                        <div class="panel-info clickable atmosphere-dictionary code panel">
                            <div class="panel-heading">Atmosphere Installation</div>
                            <div class="centered teletype">mrt install dataset-dictionary</div>
                        </div>
                    </div>
                </li>


                <li class="section">
                    <a href="wordlist"><img src="images/wordlist.jpg" class="dataset-menu img-circle"></img></a>
                    <div class="panel">
                        <div class="panel-heading">
                            Fry Wordlist
                        </div>
                        <p class="justified">Meteorite package that adds the Fry Wordlist of 1000 most commonly used words.  A very basic and minimalistic dataset, useful for teaching, learning, and getting started with Meteor, or building new functionality.</p>

                        <a class="plain" href="/wordlist">
                            <div class="panel-success records-wordlist code panel">
                                <div class="panel-heading">1200+  Records</div>
                                <div class="teletype">
                                    {<br>
                                    <span class="field">Word</span>: <span class="text">"list"</span><br>
                                    }
                                </div>
                            </div>
                        </a>


                        <!--<a class="plain" href="https://atmosphere.meteor.com/package/dataset-wordlist">-->
                            <div class="panel-info clickable atmosphere-wordlist code panel">
                                <div class="panel-heading">Atmosphere Installation</div>
                                <div class="centered teletype">mrt install dataset-wordlist</div>
                            </div>
                        <!--</a>-->
                    </div>
                </li>


            </ul>



                <!--<ul id="main-scroller" class="list-unstyled">-->




                    <!--<li class="menu-item">-->
                    <!--<a href="/anatomy">-->
                    <!--<img src="images/grays-anatomy-2.jpg" class="dataset-menu img-circle"></img>-->
                    <!--<span class="menu-synopsis">-->
                    <!--<h4>Grays Anatomy</h4>-->
                    <!--<p>Lorem ispum...</p>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->


                    <!--<li class="menu-item">-->
                    <!--<a href="/garden">-->
                    <!--<img src="images/herbs.jpg" class="dataset-menu img-circle"></img>-->
                    <!--<span class="menu-synopsis">-->
                    <!--<h4>Garden Herbs & Flowers</h4>-->
                    <!--<p>Lorem ispum...</p>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--</div>-->
                    <!--<div class="col col-lg-6">-->
                    <!--<ul class="list-unstyled">-->
                    <!---->
                    <!--<li class="menu-item">-->
                    <!--<a href="/flare">-->
                    <!--<img src="images/flare.jpg" class="dataset-menu img-circle"></img>-->
                    <!--<span class="menu-synopsis">-->
                    <!--<h4>Flare Class Structure</h4>-->
                    <!--<p>Lorem ispum...</p>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li class="menu-item">-->
                    <!--<a href="/icd10">-->
                    <!--<img src="images/icd10.jpg" class="dataset-menu img-circle"></img>-->
                    <!--<span class="menu-synopsis">-->
                    <!--<h4>ICD-10 Codes</h4>-->
                    <!--<p>Lorem ispum...</p>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->

                </ul>



        </div>
    </div>
</template>