@import "bootstrap3/mixins";
@import "bootstrap3/variables";
@import "bootstrap3/grid";
@import "bootstrap3/buttons";



.records-customers:hover{
  border: 1px solid salmon;
}
.atmosphere-customers:hover{
  border: 1px solid salmon;
}
.records-dowjones:hover{
  border: 1px solid salmon;
}
.atmosphere-dowjones:hover{
  border: 1px solid salmon;
}
.records-dictionary:hover{
  border: 1px solid salmon;
}
.atmosphere-dictionary:hover{
  border: 1px solid salmon;
}
.records-wordlist:hover{
  border: 1px solid salmon;
}
.atmosphere-wordlist:hover{
  border: 1px solid salmon;
}

.about-panel:hover{
  border: 1px solid salmon;
}


// --------------------------------------------------
// Thumb Menu

#thumb-menu{
  position:fixed;
  top: -20px;
  right: 20px;
  z-index: 100000;
}
#thumb-menu li{
  width: 100px;
  margin-right: 10px;
}


// --------------------------------------------------
// Thumbnail Images

.thumb-image{
  height: 100px;
  width: 100px;
  border: 2px solid darkgray;
  cursor: pointer;
}
.dataset-menu{
  .thumb-image;
  float: right;
  margin-right: -20px;
  margin-top: -20px;
}
.dataset-menu:hover{
  border: 2px solid salmon;
}


//.list-header{
//  .btn-pseudo-states(@btn-default-color, @btn-default-bg, @btn-default-border);
//}

// --------------------------------------------------
// Sections and Columns

.section{
  width: 410px;
}
.col{
  vertical-align: top;
}


// --------------------------------------------------
// CRUD Forms

.dictionary-form{
  height: 40px;
  h4{
    padding-top: 5px;
  }
//padding-top: 40px;
}
.customer-form{
  height: 420px;
  padding-top: 40px;
}
.word-form{
  height: 40px;
//padding-top: 10px;
}
.dowjones-form{
  height: 220px;
  padding-top: 40px;
}


// --------------------------------------------------
// CRUD Form Elements - Radios and Checkboxes

.radio label, .checkboxes label{
  .btn;
  .btn-default;
}
input[type="radio"], input[type="checkbox"]{
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
label.smallgray{
  position: relative;
  top: -30px;
  float: right;
  color: lightgray;
  padding-right: 10px;
  font-weight: normal;
}


input[type=checkbox] {
  width: 44px; height: 44px;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
  border: 1px solid #bbb;
}

input[type=range] {
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px; height: 44px;
  background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
  border: 1px solid #bbb;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
}



// Alternate buttons
// --------------------------------------------------

.chk-default {
  .btn-pseudo-states(@btn-default-color, @btn-default-bg, @btn-default-border);
}
.chk-primary {
  .btn-pseudo-states(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
}
// Warning appears as orange
.chk-warning {
  .btn-pseudo-states(@btn-warning-color, @btn-warning-bg, @btn-warning-border);
}
// Danger and error appear as red
.chk-danger {
  .btn-pseudo-states(@btn-danger-color, @btn-danger-bg, @btn-danger-border);
}
// Success appears as green
.chk-success {
  .btn-pseudo-states(@btn-success-color, @btn-success-bg, @btn-success-border);
}
// Info appears as blue-green
.chk-info {
  .btn-pseudo-states(@btn-info-color, @btn-info-bg, @btn-info-border);
}

